# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.AVG-Team3.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Node.js
node_modules/
OMS/node_modules
dist/
.env
*.log

#IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
/PaymentAPI/.vs
/.vs
PaymentAPI/obj/Release/
PaymentAPI/bin/Debug/
PaymentAPI/bin/Debug/net8.0/PaymentAPI.dll
PaymentAPI/bin/Debug/net8.0/PaymentAPI.exe
